<header class="header" style="background-image: url(images/bg.png);">
  <div class="main__container">
    <div class="header__inner">
      <div class="header__info">
        <a class="header__info-login" href="#">Вход</a>
        <a class="header__info-registr" href="#">Регистрация</a>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">Возможности</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">Тарифы</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">Партнёрам</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">Помощь</a>
          </li>
        </ul>
        <a class="header__logo" href="#">
          <img src="images/logo.png" alt="">
        </a>
      </nav>
    </div>
  </div>
</header>