html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  // overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: transparent;
}

body{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: $color-text;
  font-size: 16px;
  line-height: 24px;
}

.main__container{
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 15px;
}
.container{
  max-width: 1054px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  font-size: 30px;
  line-height: 38px;
  color: $dark-blue;
  text-transform: uppercase;
  font-weight: 700;
}
.item-link{
  font-size: 24px;
  line-height: 32px;
  color: #0da088;
  text-decoration: underline;
  margin-bottom: 10px;
  display: block;
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;;
    background: #3b4269;
    left: -33px;
    top: 13px;
  }
}